/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f5f5;
}

main {
    flex: 1;
}

/* HERO SECTION WRAPPER */
.hero-container {
    width: 90%;
    max-width: 1250px;
    margin: 25px auto;
    display: flex;
    gap: 40px;
    background-color: white;
    padding: 15px;
}

/* LEFT SIDEBAR */
.sidebar {
    width: 20%;
    background: white;
    padding: 15px 0;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 5px 15px;
    font-size: 15px;
    color: #444;
    cursor: pointer;
}

.sidebar ul li.active {
    background: #eaf3ff;
    color: #2f6fed;
    font-weight: 600;
}

.sidebar ul li:hover {
    background: #eef4ff;
    color: #2f6fed;
    font-weight: 600;
    cursor: pointer;
}

/* MAIN BANNER */
.main-banner {
    width: 55%;
    height: 340px;
    background-image: url("../assets/Image/backgrounds/Banner-board-800x420 2.png");
    background-size: cover;
    background-position: center;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.banner-text h2 {
    font-size: 22px;
    font-weight: 500;
}

.banner-text h1 {
    font-size: 36px;
    margin: 10px 0 20px 0;
    font-weight: 700;
}

.banner-text button {
    padding: 10px 22px;
    background: #0072ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.banner-text button:hover {
    background: #0059d6;
    transform: translateY(-2px);
    transition: 0.2s ease;
}

/* RIGHT COLUMN */
.right-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* USER CARD */
.user-box {
    background: #e8f2ff;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}

/* FLEX ROW FOR AVATAR + TEXT */
.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    /* space between avatar & text */
    text-align: left;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.7;
}

.user-box p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

/* Buttons */
.user-box button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 12px;
}

.join {
    background: #0d6efd;
    color: white;
    font-weight: 600;
}

.login {
    background: transparent;
    color: #0d6efd;
    font-weight: 600;
    border: 1px solid #0d6efd;
}

/* PROMO BOXES */
.promo {
    border-radius: 12px;
    padding: 20px;
    font-size: 15px;
    color: white;
    width: 100%;
    line-height: 1.3;
    color: #444;
    box-sizing: border-box;
    cursor: pointer;
}

.promo.orange {
    background: #ff9f5f;
    color: white;
}

.promo.teal {
    background: #5cc8c0;
    color: white;
}

.promo h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.join:hover {
    background: #0059d6;
    transition: 0.2s ease;
}


.login:hover {
    background: #f0f0f0;
    transition: 0.2s ease;
}

.promo:hover {
    transform: translateY(-4px);
    transition: 0.25s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


@media(max-width: 1024px) {
    .hero-container {
        flex-wrap: wrap;
    }

    .sidebar,
    .main-banner,
    .right-section {
        width: 100%;
    }

    .main-banner {
        height: 320px;
        justify-content: center;
        padding-left: 0;
    }
}

.category-section {
    width: 90%;
    max-width: 1250px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.category-block {
    display: flex;
    background: white;
    /* border-radius: 12px; */
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.category-left {
    width: 27%;
    padding: 25px;
    background: #f7f2e7;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.category-left h3 {
    font-size: 20px;
    font-weight: 600;
}

.category-left button {
    margin-top: 20px;
    padding: 10px 18px;
    background: white;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.category-left button:hover {
    transform: translateY(-4px);
    transition: 0.25s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.category-grid {
    width: 73%;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.category-grid .item {
    width: 25%;
    text-align: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.category-grid .item:hover {
    transform: translateY(-4px);
    transition: 0.25s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.home_and_outdoor {
    background-image: url("../assets/Image/backgrounds/Group 969.png");
}

.electronics_gadgets {
    background-image: url("../assets/Image/backgrounds/image 98.png");
}

.category-grid .item:nth-child(4),
.category-grid .item:nth-child(8) {
    border-right: none;
}

.category-grid .item:nth-child(n+5) {
    border-bottom: none;
}

.category-grid .item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.category-grid .item h4 {
    font-size: 14px;
    margin-top: 10px;
}

.category-grid .item p {
    font-size: 12px;
    color: #777;
}

.category-grid .item:hover {
    background: #f8faff;
    cursor: pointer;
    transition: 0.2s;
}

@media (max-width: 992px) {
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 65%;
    }

    .category-left {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .category-block {
        flex-direction: column;
    }

    .category-left {
        width: 100%;
        border-radius: 12px 12px 0 0;
    }

    .category-grid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.inquiry-section {
    width: 90%;
    max-width: 1250px;
    margin: 40px auto;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/Image/backgrounds/Group 982.png");
    background-size: cover;
    background-position: center;
    color: white;
}

/* LEFT TEXT */
.text-block {
    width: 45%;
}

.text-block h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text-block p {
    font-size: 16px;
    line-height: 1.4;
    color: #e8ecf1;
}


/* RIGHT CARD */
.form-block {
    width: 380px;
    background: #fff;
    color: #333;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.form-block h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

/* INPUTS */
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 14px;
    box-sizing: border-box;
}

.textarea {
    height: 90px;
    resize: none;
}

/* Quantity Row */
.quantity-row {
    display: flex;
    gap: 10px;
}

.qty-input {
    width: 60%;
}

.select-box {
    width: 40%;
}

/* Submit Button */
.send-btn {
    width: 100%;
    padding: 10px;
    background: #0d6efd;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s ease;
}

.send-btn:hover {
    transform: translateY(-4px);
    transition: 0.25s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background: #005ad6;
}
.recommended-section{
    width: 90%;
    max-width: 1250px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.recommended-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.r-item {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 15px;
    transition: 0.2s ease;

    flex: 1 1 200px;  /* AUTO RESPONSIVE */
    max-width: 197px;
    border-radius: 6px;
}

.r-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.r-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.r-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 4px;
}

.r-item p {
    font-size: 14px;
    color: #666;
}
