* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.top-header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    flex-wrap: wrap;
    gap: 15px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img {
    width: 100px;
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #0D6EFD;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    min-width: 250px;
}

.search-bar input {
    padding: 10px;
    flex: 1;
    width: 250px;
    border: none;
    outline: none;
}

.search-bar select {
    padding: 10px;
    border: none;
    outline: none;
    border-left: 1px solid #ddd;
}

.search-bar button {
    background: #007bff;
    color: #fff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
}

.actions {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.actions a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    min-width: 60px;
}

.actions img {
    width: 25px;
    margin-bottom: 5px;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 12px 40px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-links li a{
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}
.nav-links li select{
    margin-right: 30px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border: none;
    padding: 5px 0;
    outline: none;
    /* appearance: none; */
}
.nav-links li:hover a{
    color: #000;
    font-weight: bold;
}
.nav-links li select:hover {
    font-weight: normal;
}

.dropdown-selected {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
}

.dropdown-selected img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.dropdown-options {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    z-index: 100;
}

.dropdown-options .option {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dropdown-options .option:hover {
    background: #f2f2f2;
}

.dropdown-options img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.lang-ship{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}
.custom-select{
    border: none;
    background: transparent;
    color: #333;
    font-size: 14px;
    padding: 6px 20px 6px 6px;
    cursor: pointer;
    outline: none;
}
.custom-select:hover {
    color: #000;
}
