* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.top-header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    flex-wrap: wrap;
    gap: 15px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img {
    width: 100px;
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #0D6EFD;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;    
    min-width: 250px; 
}

.search-bar input {
    padding: 10px;
    flex:1;
    width: 250px;
    border: none;
    outline: none;
}
.search-bar select {
    padding: 10px;
    border: none;
    outline: none;
    border-left: 1px solid #ddd;
}
.search-bar button {
    background: #007bff;
    color: #fff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
}

.actions {
    display: flex;
    align-items: center;
    gap: 25px;
      flex-wrap: wrap;  
}

.actions a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    min-width: 60px;
}

.actions img {
    width: 25px;
    margin-bottom: 5px;

}